<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title><%= title %> </title>
</head>

<body>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/movie-genres.ejs', {genres: genres}) %>

    <div class="movies">
        <% movies.results.forEach(movie => { %>
        <%- include('../includes/movie-card.ejs', {movie: movie}) %>
        <% }) %>
    </div>

    <%- include('../includes/footer.ejs', {currentPage: movies.page, lastPage: movies.total_pages}) %>

    <script src="/assets/js/main.js"></script>

</body>

</html>